.list-todo-container {
  .add-todo {
    color: black;
  }
  .list-todo-content {
    width: 400px;
    margin: 0 auto;

    .todo-child {
      height: 40px;
      border-bottom: 1px solid grey;
      margin: 10px;
      width: 100%;

      .button {
        margin-left: 10px;
      }
    }
  }
}
